[submodule "Documents/WindowsPowerShell/Modules/posh-git"]
	path = Documents/WindowsPowerShell/Modules/posh-git
	url = https://github.com/dahlbyk/posh-git.git
[submodule "vimfiles/dein/dein.vim"]
	path = vimfiles/dein/dein.vim
	url = https://github.com/Shougo/dein.vim.git
